---
import { getLangFromUrl } from "../../i18n";

const lang = getLangFromUrl(Astro.url);
const inSpanish = lang === "es";
const year = new Date().getFullYear();
---

<div class="bg-oldworld-gray2 flex justify-center">
    <div class="w-recommend text-center">
        <p class="py-2 text-oldworld-subtext1 text-[12px] sm:text-[14px]">
            © {year} Diego Armando Gómez Martínez.
            <span class="hidden sm:inline"> | </span>
            <br aria-hidden={true} class="block sm:hidden" />
            {
                inSpanish
                    ? "Casi todos los derechos reservados."
                    : "Almost all rights reserved."
            }
        </p>
    </div>
</div>
