---
import { Icon } from "astro-icon/components";
---

<button
    type="button"
    class="flex hover:scale-110 transition duration-150 justify-center text-latte-mauve dark:text-mocha-yellow items-center mr-2 rounded-xl h-10 w-10"
    id="theme-selector"
>
    <Icon name="sunFilled" class="size-6 hidden dark:block" />
    <Icon name="moonFilled" class="size-6 block dark:hidden" />
    <script>
        document
            .getElementById("theme-selector")
            ?.addEventListener("click", () => {
                document.documentElement.classList.toggle("dark");
            });
    </script>
</button>
