---
import { Icon } from "astro-icon/components";
---

<button
    type="button"
    class="flex hover:scale-110 transition duration-150 justify-center text-latte-mauve dark:text-mocha-yellow items-center mr-2 rounded-xl h-10 w-10"
    id="theme-selector"
>
    <Icon name="sunFilled" class="size-6 hidden dark:block" />
    <Icon name="moonFilled" class="size-6 block dark:hidden" />
    <script is:inline>
        let remove = null;
        const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");

        const updateTheme = () => {
            if (remove != null) {
                remove();
            }
            matchMedia.addEventListener("change", updateTheme);
            remove = () => {
                matchMedia.removeEventListener("change", updateTheme);
            };
            const isDark = matchMedia.matches;

            document.documentElement.classList[isDark ? "add" : "remove"](
                "dark",
            );
        };

        updateTheme();

        document
            .getElementById("theme-selector")
            ?.addEventListener("click", () => {
                document.documentElement.classList.toggle("dark");
            });
    </script>
</button>
