---
import { getLangFromUrl } from "../../i18n";

const lang = getLangFromUrl(Astro.url);
---

<a
    class="flex hover:scale-110 transition duration-150 justify-center rounded-xl text-text size-10 text-sm items-center font-semibold"
    type="button"
    title="ChangeLanguage"
    href={lang == "es" ? "/" : "/es"}
>
    <p>{lang == "es" ? "ENG" : "ESP"}</p>
</a>
