---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import ButtonTheme from "./ButtonTheme.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const navItems = [
    {
        title: t("nav.about"),
        label: "about-me",
        url: "about-me",
    },
    {
        title: t("nav.experience"),
        label: "experience",
        url: "experience",
    },
    {
        title: t("nav.projects"),
        label: "projects",
        url: "projects",
    },
    {
        title: t("nav.skills"),
        label: "skills",
        url: "skills",
    },
];
---

<header
    class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto bg-latte-crust dark:bg-mocha-crust backdrop-blur bg-opacity-80"
>
    <div
        class="w-recommend flex h-16 flex-row justify-between items-center mx-7 my-auto text-latte-text dark:text-mocha-text"
    >
        <button class="font-extrabold uppercase" type="button">
            {t("nav.home")}
        </button>
        <nav class="hidden md:flex flex-row">
            {
                navItems.map((link) => (
                    <a
                        href={link.url}
                        class="relative block px-2 py-2 font-semibold transition hover:text-latte-lavender dark:hover:text-mocha-lavender"
                        aria-label={link.label}
                    >
                        {link.title}
                    </a>
                ))
            }
        </nav>
        <div class="flex flex-row">
            <ButtonTheme />
            <!--<ButtonLanguage />-->
        </div>
    </div>
</header>
