---
import { getLangFromUrl } from "../../i18n/utils";
import TitleSection from "../TitleSection.astro";
import ItemExperience from "./ItemExperience.astro";

const lang = getLangFromUrl(Astro.url);
const inSpanish = lang === "es";

const experience = [
    {
        date: inSpanish
            ? "Septiembre 2024 - Actualmente"
            : "September 2024 - Present",
        job: inSpanish ? "DESARROLLADOR FULLSTACK" : "FULLSTACK DEVELOPER",
        stack: "Laravel, ReactJS",
        company: "GELITA",
        description: inSpanish
            ? "Soy responsable de la adaptación y actualización de un sistema de control de procesos para la producción de grenetina, preparándolo para su implementación en una nueva planta. Mi enfoque está en garantizar la eficiencia operativa y facilitar la integración del sistema en ambas ubicaciones, mejorando el registro y llenado de bitácoras de producción. Este proceso optimiza la gestión de los datos y mejora la trazabilidad de los procesos, lo que contribuye a una mayor calidad y eficiencia en la producción."
            : "I am responsible for adapting and updating a process control system for gelatin production, preparing it for implementation in a new plant. My focus is on ensuring operational efficiency and facilitating system integration at both locations, improving the recording and filling of production logs. This process optimizes data management and enhances process traceability, contributing to higher quality and efficiency in production.",
    },
    {
        date: inSpanish
            ? "Febrero 2024 - Octubre 2024"
            : "February 2024 - October 2024",
        job: inSpanish ? "DESARROLLADOR FULLSTACK" : "FULLSTACK DEVELOPER",
        stack: "PHP, JavaScript",
        company: "SICAP VIP",
        description: inSpanish
            ? "Contribuí al desarrollo y optimización de un sistema de caja financiera para una entidad financiera en México, asegurando el cumplimiento de las regulaciones. Utilicé PHP y JavaScript para mejorar las operaciones del sistema, lo que resultó en un aumento significativo en la velocidad de procesamiento y la experiencia del usuario. Mi trabajo llevó a un servicio más eficiente y ágil, optimizando el rendimiento general del sistema."
            : "Contributed to the development and optimization of a financial cashier system for a Mexican financial entity, ensuring regulatory compliance. Utilized PHP and JavaScript to enhance system operations, significantly improving processing speed and user experience. My work led to a more efficient and agile service, optimizing overall system performance.",
    },
    {
        date: inSpanish
            ? "Enero 2024 - Octubre 2024"
            : "January 2024 - October 2024",
        job: inSpanish ? "DESARROLLADOR WEB" : "WEB DEVELOPER",
        stack: "Astro, ReactJS, Supabase",
        company: "Freelancer",
        description: inSpanish
            ? "Trabajé como freelancer en proyectos web, especializándome en páginas responsivas y fáciles de usar con React, Astro y TailwindCSS. Desarrollé soluciones para negocios y anuncios de eventos con características interactivas, como la gestión de listas de invitados. Utilicé Supabase y Express para el soporte backend, asegurando una funcionalidad fluida y una experiencia de usuario satisfactoria."
            : "Freelanced on web projects, specializing in responsive, user-friendly pages with React, Astro, and TailwindCSS. Developed business solutions and event announcements with interactive features like guest list management. Utilized Supabase and Express for backend support, ensuring seamless functionality and a smooth user experience.",
    },
    {
        date: inSpanish
            ? "Enero 2023 - Febrero 2024"
            : "January 2023 - February 2024",
        job: inSpanish ? "DESARROLLADOR JUNIOR" : "JUNIOR DEVELOPER",
        stack: "Django, JavaScript",
        company: "CISI SOLUCIONES",
        description: inSpanish
            ? "Modernicé una aplicación web de préstamos financieros con Django, mejorando la funcionalidad y la experiencia del usuario. Optimicé los flujos de trabajo de backend y frontend, automatizando la generación de reportes en PDF y mejorando el análisis predictivo con Pandas y Sklearn. Simplifiqué la gestión de bases de datos en MySQL y desarrollé una interfaz de usuario responsiva utilizando Bootstrap, CSS y JavaScript."
            : "Modernized a financial loan web app with Django, improving functionality and user experience. Optimized backend and frontend workflows, automated PDF report generation, and enhanced predictive analytics with Pandas and Sklearn. Streamlined database management in MySQL and developed a responsive UI using Bootstrap, CSS, and JavaScript,",
    },
];
---

<div class="flex justify-center items-center mx-7 xl:mx-0" id="experience">
    <div class="w-full md:w-recommend">
        <TitleSection color={"green"}
            >{inSpanish ? "Experiencia" : "Experience"}</TitleSection
        >
        <div class="my-0 lg:my-5"></div>
        {experience.map((item) => <ItemExperience item={item} />)}
    </div>
</div>
