---
import { getLangFromUrl } from "../../i18n/utils";
import TitleSection from "../TitleSection.astro";
import ItemExperience from "./ItemExperience.astro";

const lang = getLangFromUrl(Astro.url);
const inSpanish = lang === "es";

const experience = [
    {
        date: inSpanish
            ? "Septiembre 2024 - Actualmente"
            : "September 2024 - Present",
        job: inSpanish ? "DESARROLLADOR FULLSTACK" : "FULLSTACK DEVELOPER",
        stack: "PHP, ReactJS",
        company: "PILSAC",
    },
    {
        date: inSpanish
            ? "Febrero 2024 - Octubre 2024"
            : "February 2024 - October 2024",
        job: inSpanish ? "DESARROLLADOR FULLSTACK" : "FULLSTACK DEVELOPER",
        stack: "PHP, MySQL, JavaScript",
        company: "SICAP VIP",
        description: inSpanish
            ? "Formé parte del equipo responsable de implementar nuevas funcionalidades y actualizar componentes de un sistema de cajas financieras, asegurando el cumplimiento de los requisitos regulatorios para una entidad financiera en México. Utilicé PHP y JavaScript para optimizar las operaciones del sistema, logrando una mejora significativa en la velocidad de procesamiento y en la experiencia del usuario. Mis contribuciones llevaron a mejoras generales en el rendimiento del sistema, resultando en un servicio más eficiente y ágil."
            : "I was part of the team responsible for implementing new features and updating components of a financial cashier system, ensuring compliance with regulatory requirements for a financial entity in Mexico. I used PHP and JavaScript to optimize the system's operations, achieving a significant improvement in processing speed and user experience. My contributions led to overall system performance enhancements, resulting in a more efficient and agile service.",
    },
    {
        date: inSpanish
            ? "Enero 2024 - Octubre 2024"
            : "January 2024 - October 2024",
        job: inSpanish ? "DESARROLLADOR WEB" : "WEB DEVELOPER",
        stack: "Astro, ReactJS, TailwindCSS",
        company: "Freelancer",
        description: inSpanish
            ? "He trabajado como freelancer en proyectos, especializándome en la creación de páginas web responsivas, de alta calidad y amigables con el usuario usando React, Astro y TailwindCSS. Desarrollé de manera autónoma soluciones para negocios y anuncios de eventos, incluyendo características interactivas como la gestión de listas de invitados a través de formularios. Las herramientas que utilicé incluyen Supabase y Express para el soporte del backend, asegurando una experiencia de usuario y funcionalidad sin problemas."
            : "I have freelanced on projects, specializing in building responsive, high-quality, user-friendly pages with React, Astro, and TailwindCSS. I autonomously developed solutions for businesses and event announcements, including interactive features like guest list management through forms. Tools I have used include Supabase and Express for backend support, ensuring seamless user experience and functionality.",
    },
    {
        date: inSpanish
            ? "Enero 2023 - Febrero 2024"
            : "January 2023 - February 2024",
        job: inSpanish ? "DESARROLLADOR JUNIOR" : "JUNIOR DEVELOPER",
        stack: "Django, Python, JavaScript",
        company: "CISI SOLUCIONES",
        description: inSpanish
            ? "Lideré la modernización de una aplicación web en el sector de préstamos financieros utilizando Django para mejorar la funcionalidad y el diseño. Mi rol incluyó el desarrollo del backend y el frontend, la gestión de bases de datos (MySQL) y la generación automática de informes en PDF. Implementé modelos predictivos con Pandas y Sklearn, diseñé una interfaz intuitiva utilizando Bootstrap y JavaScript, y personalicé estilos con CSS y JavaScript puro para optimizar la experiencia del usuario."
            : "Led the modernization of a web application in the financial loan sector using Django to enhance functionality and design. My role included backend and frontend development, database management (MySQL), and automatic PDF report generation. I implemented predictive models with Pandas and Sklearn, designed an intuitive interface using Bootstrap and JavaScript, and customized styles with CSS and Vanilla JavaScript to optimize the user experience.",
    },
];
---

<div class="flex justify-center items-center mx-7 xl:mx-0" id="experience">
    <div class="w-full md:w-recommend">
        <TitleSection color={"green"}
            >{inSpanish ? "Experiencia" : "Experience"}</TitleSection
        >
        <div class="my-0 lg:my-5"></div>
        {experience.map((item) => <ItemExperience item={item} />)}
    </div>
</div>
