---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import TitleSection from "../TitleSection.astro";
import ItemExperience from "./ItemExperience.astro";

const t = useTranslations(getLangFromUrl(Astro.url));

const experience = [
    {
        date: t("experience.gelita.date"),
        job: t("experience.fullstack"),
        stack: "Laravel, ReactJS",
        company: "GELITA",
        description: t("experience.gelita.description"),
    },
    {
        date: t("experience.sicap.date"),
        job: t("experience.fullstack"),
        stack: "PHP, JavaScript",
        company: "SICAP VIP",
        description: t("experience.sicap.description"),
    },
    {
        date: t("experience.freelancer.date"),
        job: t("experience.webDeveloper"),
        stack: "Astro, ReactJS, Supabase",
        company: "Freelancer",
        description: t("experience.freelancer.description"),
    },
    {
        date: t("experience.cisi.date"),
        job: t("experience.juniorDeveloper"),
        stack: "Django, JavaScript",
        company: "CISI SOLUCIONES",
        description: t("experience.cisi.description"),
    },
];
---

<div class="flex justify-center items-center mx-7 xl:mx-0" id="experience">
    <div class="w-full md:w-recommend">
        <TitleSection color={"green"}>{t("title.experience")}</TitleSection>
        <div class="my-0 lg:my-5"></div>
        {experience.map((item) => <ItemExperience item={item} />)}
    </div>
</div>
