---
import ParagraphAboutMe from "./ParagraphAboutMe.astro";
import TextBoldAboutMe from "./TextBoldAboutMe.astro";

import { getLangFromUrl} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const inSpanish = lang === "es";
---

<ParagraphAboutMe>
    {inSpanish ? (
        <span>
            Soy un <TextBoldAboutMe>Desarrollador Full Stack</TextBoldAboutMe> con <TextBoldAboutMe>3 años de experiencia</TextBoldAboutMe> logrando resultados exitosos en diversos proyectos. Me especializo en crear soluciones escalables y eficientes. Soy competente en <TextBoldAboutMe>Python (Django)</TextBoldAboutMe>, <TextBoldAboutMe>JavaScript (React)</TextBoldAboutMe>, <TextBoldAboutMe>PHP</TextBoldAboutMe> y <TextBoldAboutMe>Rust</TextBoldAboutMe>, con un enfoque sólido en desarrollar aplicaciones robustas que satisfagan las necesidades de los clientes.
        </span>
    ) : (
        <span>
            I'm a <TextBoldAboutMe>Fullstack Developer</TextBoldAboutMe> with <TextBoldAboutMe>3 years of experience</TextBoldAboutMe> delivering successful results across diverse projects. I specialize in creating efficient and scalable solutions. I am proficient in <TextBoldAboutMe>Python (Django)</TextBoldAboutMe>, <TextBoldAboutMe>JavaScript (React)</TextBoldAboutMe>, <TextBoldAboutMe>PHP</TextBoldAboutMe>, and <TextBoldAboutMe>Rust</TextBoldAboutMe>, and have a strong focus on developing robust applications that meet client needs.
        </span>
    )}
</ParagraphAboutMe>
<br />
<ParagraphAboutMe>
    {inSpanish ? (
        <span>
            Mi experiencia abarca tanto tecnologías de <TextBoldAboutMe>frontend</TextBoldAboutMe> como de <TextBoldAboutMe>backend</TextBoldAboutMe>, incluyendo frameworks y herramientas modernos, asegurando una integración fluida y resultados de alta calidad. Soy experto en transformar requisitos complejos en soluciones de <TextBoldAboutMe>alto rendimiento</TextBoldAboutMe> y <TextBoldAboutMe>fáciles de usar</TextBoldAboutMe>, mejorando consistentemente la funcionalidad y la experiencia del usuario a lo largo de varias plataformas.
        </span>
    ) : (
        <span>
            My expertise spans both <TextBoldAboutMe>front-end</TextBoldAboutMe> and <TextBoldAboutMe>back-end</TextBoldAboutMe> technologies, including modern frameworks and tools, ensuring seamless integration and high-quality outcomes. I am adept at transforming complex requirements into <TextBoldAboutMe>user-friendly</TextBoldAboutMe>, <TextBoldAboutMe>high-performance</TextBoldAboutMe> solutions, consistently enhancing functionality and user experience across various platforms.
        </span>
    )}
</ParagraphAboutMe>
