---
import Body from "../components/Body.astro";
import "@fontsource-variable/onest";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="FullStack Developer | Rust | Django | React | Python | PHP"
        />
        <meta name="viewport" content="width=device-width" />
        <link
            href="/light-favicon.svg"
            rel="icon"
            type="image/svg+xml"
            media="(prefers-color-scheme: light)"
        />
        <link
            href="/dark-favicon.svg"
            rel="icon"
            type="image/svg+xml"
            media="(prefers-color-scheme: dark)"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio | Diego Armando</title>
    </head>
    <Body />
    <style is:global>
        :root {
            color-scheme: light dark;
        }
        html {
            font-family:
                "Onest Variable",
                ui-sans-serif,
                system-ui,
                -apple-system,
                "Apple Color Emoji",
                "Noto Color Emoji";
        }
    </style>
</html>
