---
import Navbar from "../components/navbarComponents/Navbar.astro";
import Header from "../components/headerComponents/Header.astro";
import AboutMe from "../components/aboutMeComponents/AboutMe.astro";
import Experience from "../components/experienceComponents/Experience.astro";
import Projects from "../components/projectsComponents/Projects.astro";
import Skills from "../components/skillsComponents/Skills.astro";
import Contact from "../components/contactComponents/Contact.astro";
import Separator from "../components/Separator.astro";
---

<body class="bg-latte-base dark:bg-mocha-base">
    <header>
        <Navbar />
        <Header />
        <Separator />
    </header>
    <main>
        <AboutMe />
        <Separator />
        <Experience />
        <Separator />
        <Projects />
        <Separator />
        <Skills />
        <Separator />
        <Contact />
    </main>
</body>
