---
type Color = "green" | "blue" | "yellow" | "red" | "cyan";
const styles = {
    green: [
        "flex-1 h-2 bg-oldworld-green/50",
        "flex-1 h-2 bg-oldworld-green/70",
        "flex-1 h-2 bg-oldworld-green",
    ],
    blue: [
        "flex-1 h-2 bg-oldworld-blue/50",
        "flex-1 h-2 bg-oldworld-blue/70",
        "flex-1 h-2 bg-oldworld-blue",
    ],
    yellow: [
        "flex-1 h-2 bg-oldworld-yellow/50",
        "flex-1 h-2 bg-oldworld-yellow/70",
        "flex-1 h-2 bg-oldworld-yellow",
    ],
    red: [
        "flex-1 h-2 bg-oldworld-red/50",
        "flex-1 h-2 bg-oldworld-red/70",
        "flex-1 h-2 bg-oldworld-red",
    ],
    cyan: [
        "flex-1 h-2 bg-oldworld-cyan/50",
        "flex-1 h-2 bg-oldworld-cyan/70",
        "flex-1 h-2 bg-oldworld-cyan",
    ],
};

const { color } = Astro.props as { color: Color };
const stylesArray = styles[color];
---

<div class="w-full mx-auto">
    <div class="relative flex flex-col items-center">
        <h1
            class="text-[21px] xss:text-[24px] xs:text-[28px] sm:text-[35px]/[50px] md:text-[45px]/[60px] lg:text-[46px]/[80px] font-bold text-oldworld-fg"
        >
            <slot />
        </h1>
        <div class="flex w-24 mb-5 mt-1 md:mb-10 overflow-hidden rounded">
            {stylesArray.map((item: string) => <div class={item} />)}
        </div>
    </div>
</div>
