---
const styles = {
    green: [
        "flex-1 h-2 bg-latte-green/50 dark:bg-mocha-green/50",
        "flex-1 h-2 bg-latte-green/70 dark:bg-mocha-green/70",
        "flex-1 h-2 bg-latte-green bg-mocha-green",
    ],
    blue: [
        "flex-1 h-2 bg-latte-blue/50 dark:bg-mocha-blue/50",
        "flex-1 h-2 bg-latte-blue/70 dark:bg-mocha-blue/70",
        "flex-1 h-2 bg-latte-blue dark:bg-mocha-blue",
    ],
    yellow: [
        "flex-1 h-2 bg-yellow/50",
        "flex-1 h-2 bg-yellow/70",
        "flex-1 h-2 bg-yellow",
    ],
    red: ["flex-1 h-2 bg-red/50", "flex-1 h-2 bg-red/70", "flex-1 h-2 bg-red"],
    teal: [
        "flex-1 h-2 bg-teal/50",
        "flex-1 h-2 bg-teal/70",
        "flex-1 h-2 bg-teal",
    ],
};

const { color } = Astro.props;
const stylesArray = styles[color];
---

<div class="w-full mx-auto">
    <div class="relative flex flex-col items-center">
        <h1
            class="text-[21px] xss:text-[24px] xs:text-[28px] sm:text-[35px]/[50px] md:text-[45px]/[60px] lg:text-[45px] xl:text-[50px]/[80px] font-bold text-latte-text dark:text-mocha-text"
        >
            <slot />
        </h1>
        <div class="flex w-24 mb-5 mt-1 md:mb-10 overflow-hidden rounded">
            {stylesArray.map((item: string) => <div class={item} />)}
        </div>
    </div>
</div>
