---
import { Icon } from "astro-icon/components";

const { url, icon, label } = Astro.props;
---

<a
    target="_blank"
    href={url}
    aria-label={label}
    rel="noopener noreferrer"
    class="m-auto size-10 hover:scale-105 hover:brightness-105 dark:hover:brightness-125 transition duration-150 xs:size-11 rounded-xl flex justify-center text-oldworld-fg items-center bg-oldworld-gray4"
>
    <Icon name={icon} class="size-5" />
</a>
