---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import TextTitleHeader from "./TextTitleHeader.astro";
import TextTitleGradientHeader from "./TextTitleGradientHeader.astro";
import ButtonsHeader from "./ButtonsHeader.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex justify-center pt-[100px] md:pt-[90px] mx-7 xl:mx-0">
    <div
        class="w-[70ch] lg:w-recommend grid items-center grid-cols-1 gap-8 lg:grid-cols-6"
    >
        <div class="col-span-1 lg:col-span-4 lg:mx-0">
            <div class="flex flex-row justify-center lg:justify-normal">
                <TextTitleHeader>{t("header.iam")}</TextTitleHeader>
                <TextTitleGradientHeader>Diego Armando,</TextTitleGradientHeader
                >
            </div>
            <div class="flex flex-row justify-center lg:justify-normal">
                <TextTitleHeader>{t("header.firstPart")}</TextTitleHeader>
                <TextTitleGradientHeader>
                    {t("header.secondPart")}
                </TextTitleGradientHeader>
            </div>
            <p
                class="text-[14px] xss:text-[14px] xs:text-[16px] sm:text-[19px] md:text-[22px] lg:text-[18px] xl:text-[22px] text-latte-subtext1 dark:text-mocha-subtext1 mt-2 text-center lg:text-left font-medium pr-0 lg:pr-20 text-pretty"
            >
                {t("header.description")}
            </p>
            <ButtonsHeader />
        </div>
        <div
            class="flex justify-center lg:justify-normal col-span-1 lg:col-span-2 order-first lg:order-last"
        >
            <div class="w-[500px] lg:w-[900px]">
                <img
                    alt="Diego Armando"
                    class="rounded-2xl"
                    src="./images/myPhoto.avif"
                />
            </div>
        </div>
    </div>
</div>
