<h1
    class="text-[23px] xss:text-[26px] xs:text-[30px] sm:text-[40px]/[50px] md:text-[50px]/[60px] lg:text-[50px] xl:text-[55px]/[80px] whitespace-pre-wrap bg-gradient-to-tr from-latte-blue via-latte-mauve to-latte-pink dark:from-mocha-blue dark:via-mocha-mauve dark:to-mocha-pink text-transparent bg-clip-text font-extrabold"
>
    <slot />
</h1>
