<h1
    class={"text-[23px] xss:text-[26px] xs:text-[30px] sm:text-[40px]/[50px] md:text-[50px]/[60px] lg:text-[50px]/[75px] font-extrabold dark:text-mocha-text text-latte-text"}
>
    <slot />
</h1>
