---
import Body from "../../components/Body.astro";
import { getLangFromUrl } from "../../i18n/utils";
import "@fontsource-variable/onest";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Diego Armando Gómez Martínez" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Portafolio | Diego Armando</title>
    </head>
    <Body />
    <style is:global>
        html {
            font-family:
                "Onest Variable",
                ui-sans-serif,
                system-ui,
                -apple-system,
                "Apple Color Emoji",
                "Noto Color Emoji";
        }
    </style>
</html>
